#heading {
    text-align: center;
    color: navy;
}

#submit {
    color: black;
    border: 2px solid blue;
}

#settings {

    color: black;
    border: 2px solid blue;
}

#logout {

    color: black;
    border: 2px solid blue;
}